first assignment in SQL with VScode

sql 1st assignment

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('database.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS departments (
        id INTEGER PRIMARY KEY,
        dname TEXT NOT NULL
    )
''')
cursor.executemany('''
    INSERT INTO departments (id, dname)
    VALUES (?, ?)
''', [
    (1, 'HR'),
    (2, 'Engineering'),
    (3, 'Marketing')
])
cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        fname TEXT NOT NULL,
        lname TEXT NOT NULL,
        dept_id INTEGER,
        FOREIGN KEY (dept_id) REFERENCES departments(id)
    )
''')
cursor.executemany('''
    INSERT INTO employees (id, fname, lname, dept_id)
    VALUES (?, ?, ?, ?)
''', [
    (1, 'John', 'Doe', 1),
    (2, 'Alice', 'Smith', 2),
    (3, 'Bob', 'Johnson', 3)
])
cursor.execute('''
    CREATE VIEW IF NOT EXISTS vw_employee_details AS
    SELECT 
        e.fname AS FirstName,
        e.lname AS LastName,
        d.dname AS DepartmentName
    FROM 
        employees e
    JOIN 
        departments d
    ON 
        e.dept_id = d.id
''')
cursor.execute('SELECT * FROM vw_employee_details')
rows = cursor.fetchall()

print("View vw_employee_details:")
for row in rows:
    print(row)
conn.commit()
conn.close()

IntegrityError: UNIQUE constraint failed: departments.id

In [5]:
import sqlite3
conn = sqlite3.connect('your_database.db')
cursor = conn.cursor()
create_view_query = """
CREATE OR REPLACE VIEW vw_work_hrs AS
SELECT 
    fname, 
    lname, 
    pname, 
    hours
FROM 
    employees
WHERE 
    department_number = 5;
"""

try:
    cursor.execute(create_view_query)
    print("View vw_work_hrs has been updated successfully.")
except sqlite3.Error as e:
    print(f"An error occurred: {e}")
conn.commit()
conn.close()

An error occurred: near "OR": syntax error

In [ ]:
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.execute('''
CREATE TABLE suppliers (
    id INTEGER PRIMARY KEY,
    name TEXT,
    status INTEGER
);
''')

cursor.executemany('''
INSERT INTO suppliers (name, status) VALUES (?, ?);
''', [
    ('Supplier A', 10),
    ('Supplier B', 20),
    ('Supplier C', 30),
    ('Supplier D', 5)
])

cursor.execute('''
CREATE VIEW vw_high_status_suppliers AS
SELECT * 
FROM suppliers
WHERE status > 15;
''')
cursor.execute('''
INSERT INTO suppliers (name, status)
VALUES ('Supplier E', 25);
''')
conn.commit()
cursor.execute('SELECT * FROM vw_high_status_suppliers;')
rows = cursor.fetchall()
for row in rows:
    print(row)
conn.close()

(2, 'Supplier B', 20)
(3, 'Supplier C', 30)
(5, 'Supplier E', 25)